{{define "pairPlayers"}}
{{if .Mode.Admin}}
<div class="flex items-center gap-3 mt-1">
    {{template "playerCardIdentity" (dict "Mode" .Mode "ID" .Player1ID "Name" .Player1Name)}}
    <span class="text-base-content/60 text-xs font-bold">&amp;</span>
    {{template "playerCardIdentity" (dict "Mode" .Mode "ID" .Player2ID "Name" .Player2Name)}}
</div>
{{else}}
<table class="table table-sm">
    <tbody>
        <tr>
            <td>{{template "playerLink" (elink .Player1ID .Player1Name)}}</td>
        </tr>
        <tr>
            <td>{{template "playerLink" (elink .Player2ID .Player2Name)}}</td>
        </tr>
    </tbody>
</table>
{{end}}
{{end}}
