{{define "passwordSetFields"}}
<div class="form-control {{if .TopMargin}}mt-3{{end}}">
    <label class="label" for="password{{.Suffix}}">
        <span class="label-text text-xs font-medium">{{if .Label}}{{.Label}}{{else}}Contraseña{{end}}</span>
    </label>
    <input type="password" id="password{{.Suffix}}" name="password" class="input input-bordered w-full" placeholder="********" required minlength="8">
</div>
<div class="form-control mt-3">
    <label class="label" for="confirm{{.Suffix}}">
        <span class="label-text text-xs font-medium">Confirmar contraseña</span>
    </label>
    <input type="password" id="confirm{{.Suffix}}" name="{{.ConfirmName}}" class="input input-bordered w-full" placeholder="********" required minlength="8">
</div>
{{end}}
