{{define "timePicker"}}
<select id="{{.ID}}" name="{{.Name}}" class="select select-bordered select-sm {{.ExtraClass}}" {{if .Required}}required{{end}}>
    <option value="" disabled {{if not .Value}}selected{{end}}>Hora</option>
    {{$v := .Value}}
    <option value="07:00" {{if eq $v "07:00"}}selected{{end}}>07:00</option>
    <option value="07:30" {{if eq $v "07:30"}}selected{{end}}>07:30</option>
    <option value="08:00" {{if eq $v "08:00"}}selected{{end}}>08:00</option>
    <option value="08:30" {{if eq $v "08:30"}}selected{{end}}>08:30</option>
    <option value="09:00" {{if eq $v "09:00"}}selected{{end}}>09:00</option>
    <option value="09:30" {{if eq $v "09:30"}}selected{{end}}>09:30</option>
    <option value="10:00" {{if eq $v "10:00"}}selected{{end}}>10:00</option>
    <option value="10:30" {{if eq $v "10:30"}}selected{{end}}>10:30</option>
    <option value="11:00" {{if eq $v "11:00"}}selected{{end}}>11:00</option>
    <option value="11:30" {{if eq $v "11:30"}}selected{{end}}>11:30</option>
    <option value="12:00" {{if eq $v "12:00"}}selected{{end}}>12:00</option>
    <option value="12:30" {{if eq $v "12:30"}}selected{{end}}>12:30</option>
    <option value="13:00" {{if eq $v "13:00"}}selected{{end}}>13:00</option>
    <option value="13:30" {{if eq $v "13:30"}}selected{{end}}>13:30</option>
    <option value="14:00" {{if eq $v "14:00"}}selected{{end}}>14:00</option>
    <option value="14:30" {{if eq $v "14:30"}}selected{{end}}>14:30</option>
    <option value="15:00" {{if eq $v "15:00"}}selected{{end}}>15:00</option>
    <option value="15:30" {{if eq $v "15:30"}}selected{{end}}>15:30</option>
    <option value="16:00" {{if eq $v "16:00"}}selected{{end}}>16:00</option>
    <option value="16:30" {{if eq $v "16:30"}}selected{{end}}>16:30</option>
    <option value="17:00" {{if eq $v "17:00"}}selected{{end}}>17:00</option>
    <option value="17:30" {{if eq $v "17:30"}}selected{{end}}>17:30</option>
    <option value="18:00" {{if eq $v "18:00"}}selected{{end}}>18:00</option>
    <option value="18:30" {{if eq $v "18:30"}}selected{{end}}>18:30</option>
    <option value="19:00" {{if eq $v "19:00"}}selected{{end}}>19:00</option>
    <option value="19:30" {{if eq $v "19:30"}}selected{{end}}>19:30</option>
    <option value="20:00" {{if eq $v "20:00"}}selected{{end}}>20:00</option>
    <option value="20:30" {{if eq $v "20:30"}}selected{{end}}>20:30</option>
    <option value="21:00" {{if eq $v "21:00"}}selected{{end}}>21:00</option>
    <option value="21:30" {{if eq $v "21:30"}}selected{{end}}>21:30</option>
    <option value="22:00" {{if eq $v "22:00"}}selected{{end}}>22:00</option>
    <option value="22:30" {{if eq $v "22:30"}}selected{{end}}>22:30</option>
    <option value="23:00" {{if eq $v "23:00"}}selected{{end}}>23:00</option>
</select>
{{end}}
