{{define "content"}}
<div class="flex flex-col items-center justify-center py-12">
    <h1 class="sr-only">Error</h1>
    <div class="alert alert-error max-w-md shadow-lg">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>{{.ErrorMessage}}</span>
    </div>
    <a href="/" class="btn btn-ghost mt-4">Volver al inicio</a>
</div>
{{end}}
